html::-webkit-scrollbar{
  display: none;
}

.my_img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.my_img:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    padding-bottom: 10px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


  .movingGradient{
    background: linear-gradient(270deg, #7f9497,#ebc8a2,#afaba8);
    background-size: 600% 600%;
  
    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
  }
  
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


  #metabody{
    /* background-color: #ebc8a2; */
    background-image: url("http://localhost/virtualTourWebsite/milad-fakurian-wNsHBf_bTBo-unsplash.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size:cover;
  }

  .card{
    background-color: #ffffff57!important;;
    /* background-image: url("http://localhost/virtualTourWebsite/milad-fakurian-wNsHBf_bTBo-unsplash.jpg"); */
 /* background-repeat: no-repeat; */
 /* background-attachment: fixed; */
 /* background-size: cover;  */
  }
.navbar{
  background-color: rgba(0, 0, 0, 0)!important;
}

video{
  width: 250%;

  /* object-fit: contain; */

  position:static;
  /* z-index: -1; */
  /* background-repeat:no-repeat;  */
  /* background-size: 100% 100%; */
  
  /* top: 0;
  left: 0; */
  background-repeat:no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
